server:
  port: 8002
spring:
  datasource:
    # ShardingSphere 对 Driver 自定义，实现分库分表等隐藏逻辑
    driver-class-name: org.apache.shardingsphere.driver.ShardingSphereDriver
    # ShardingSphere 配置文件路径
    url: jdbc:shardingsphere:classpath:shardingsphere-config.yaml
  data:
    redis:
          host: 127.0.0.1
          port: 6379
          password: zhou123quan
remote:
  project:
    base-url: http://127.0.0.1:8001/api/shortlink/v1/project
